.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-shrink: 0;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  padding: 80px 80px;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
}
