.header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  height: 164px;
  align-items: center;

  & nav {
    gap: 40px;
    display: flex;
    align-items: center;
  }

  & a {
    color: black;
    text-decoration: none;
  }
}
